.flex-direction-column{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.flex-direction-row{
    display: flex;
    justify-content: center;
    align-items: center;
}