.buttonIcon{
    border: 1px solid var(--border-color-gray);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);

    &:hover{
        background-color: var(--background-gray-light-inactive);
    }

    .icon-left{
        color: var(--color-purple-vacancy-normal);
    }

    .icon-right{
        color: var(--color-text);
    }
}
.buttonIcon.disabled{
    background-color: var(--background-gray-light-inactive);
}

.buttonNavigation{
    display: flex;
    align-items: center;
    gap: var(--padding-small);
    background-color: var(--background-gray-light-inactive);
    color: var(--color-black);
    border-radius: var(--border-radius-big);
    padding: 5px var(--padding-medium);
    font-size: .8rem;
    transition: background-color .3s ease,
                color .3s ease;
}

.buttonNavigation.active{
    background-color: var(--color-purple-vacancy-normal);
    color: var(--color-white);
}

.buttonModal{
    width: 100%;
    background-color: var(--color-purple-vacancy-normal);
    padding: var(--padding-small);
    color: var(--color-white);
    border-radius: var(--border-radius-small);
    transition: background-color .3s ease;

    &:hover{
        background-color: var(--color-purple-vacancy-hover);
    }
}