.textarea{
    outline: none;
    border: 1px solid var(--border-color-gray);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small);
}

.error{
    color: var(--color-text);
}